
#container{
    width: 1860px;
}

/* HEADER */

    header{
        height: 84px;
        display: flex;
    }

    header > p{
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #ffff;
        margin-top: 22px;
        margin-left: 62px;
    }

    address > a:first-child{
        margin-left: 48.75px;
    }

    address > a:last-child{
        margin-left: 32.83px;
    }

    address > a:first-child::before{
        content: url(images/Telephone.svg);
        width: 16.5px;
        height: 16.5px;
        margin-right: 13.83px;
    }

    address > a:last-child::before{
        content: url(images/Mail.svg);
        width: 16.5px;
        height: 16.5px;
        margin-right: 13.83px;
    }

    header > address{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    address a:link{
        text-decoration: none;
        font-style: normal;
        color: #ffff;
    }


/* Présentation */


    section:first-child{
        height: 1087px;
        background-image: url(images/Backgroundsection1.svg);
        background-color: #232323;
        background-repeat: no-repeat;
    }

    #designer{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #ffff;
        margin: 70px 0 0 393px;
    }

    h2{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 72px;
        line-height: 101px;
        letter-spacing: -3px;
        color: #FFFFFF;
        margin: 33px 0 0 388px;
    }

    h3{
        font-family: 'Inter';
        font-weight: bold;
        font-size: 72px;
        line-height: 101px;
        color: #F87F28;
        margin: 0 0 16px 390px;
        width: 242px;
    }

    #developpement{
        width:441px;
        height:72px;
    }

    #directeur{
        margin-top: 24px;
        margin-bottom: 60px;
    }

    #developpement, #directeur{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-left: 393px;
    }

    #boutonsection1{
        display: flex;
    }

    .btn{
        width: 123px;
        height: 47px;
        left: 390px;
        top: 608px;
        background: #BB2323;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        text-decoration: none;
        color: #fff;
        border: none;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .btn:first-child{
        margin: 0 23px 0 390px;
    }

    #containersection1{
        display: flex;
    }

    #imageolivier{
        margin: 64px 0 0 104px;
    }

    #images_clients{
        display: flex;
        align-items: center;
        column-gap: 30px;
        justify-content: center;
    }

    #logo1 > p, #logo2 > p, #logo3 > p{
        margin: 0;
    }

    #logo1, #logo2, #logo3{
        display: flex;
        column-gap: 30px;
        align-items: center;
    }

    #clients > p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #BFBFBF;
        margin: 205px 0 0 836px;
        width: 218px;
        height: 31px;
    }


    /*  Section 2 */

    section:nth-child(2){
        background-color: black;
    }


    h4{
        font-family: 'Inter';   
        font-weight: 600;
        font-size: 36px;
        line-height: 60px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    #section2para{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
    }

    #section2para:first-child{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }

    
@media screen and (max-width: 375px){

        #body{
            width: 375px;
        }
    
        #container{
            width: 100%;
        }

        section:first-child{
            background-image: none;
            background-color: #232323;
            height: 956px;
        }

        header > address{
            display: none;
        }

        #designer{
            margin-top: 49.42px;
            margin-left: 29.27px;
        }

        #imageolivier{
            display: none;
        }

        h2{
            margin: 0 0 0 24.27px;
            font-size: 40px;
        }

        h3{
            margin-left: 23.8px;
            letter-spacing: -1px;
        }
        
        p#developpement, p#directeur{
            margin-left: 29px;
        }

        p#developpement{
            margin-bottom: 0;
            width: 302px;
            height: 93px;
            font-size: 16px;
        }

        p#directeur{
            margin: 25px 0 32.31px 29px;
        }

        #boutonsection1{
            margin-left: 24.27px;
            column-gap: 23px;
        }

        .btn:first-child {
            margin: 0;
        }

        #images_clients{
            display: block;
        }
        
        #clients > p{
            margin: 67.3px 0 0 -42.5px;
        }

        #logo1{
            margin-left: 51.99px;
            column-gap: 62.88px;
        }

        #logo2{
            margin-left: 20px;
        }

        #logo3{
            margin-left: 20px;
        }

        #clients > #images_clients > #logo1 > p:first-child > img{
            width: 110.78px;
            height: 36.96px;
        }

        #clients > #images_clients > #logo1 > p:last-child > img{
            width: 82.92px;
            height: 76.19px;
        }

        #clients > #images_clients > #logo2 > p:first-child > img{
            Width: 135.84px;
            Height: 83.97px;
        }

        #clients > #images_clients > #logo2 > p:last-child > img{
            Width: 152.49px;
            Height: 85.77px;
        }

    }